<li
  [ngClass]="{ editing: isEditing, completed: todo.isCompleted }"
  data-testid="todo"
>
  <div class="view">
    <input
      (change)="toggleTodo()"
      [checked]="todo.isCompleted"
      class="toggle"
      data-cy="checkboxToggle"
      data-testid="toggle"
      type="checkbox"
    />
    <label
      (dblclick)="setTodoInEditMode()"
      data-cy="label"
      data-testid="todoLabel"
      >{{ todo.text }}</label
    >
    <button
      (click)="removeTodo()"
      class="destroy"
      data-cy="destroyButton"
      data-testid="destroy"
    ></button>
  </div>
  <ng-container *ngIf="isEditing">
    <input
      #textInput
      (keyup)="changeText($event)"
      (keyup.enter)="changeTodo()"
      [value]="editingText"
      class="edit"
      data-cy="editInput"
      data-testid="edit"
    />
  </ng-container>
</li>
