.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  column-gap: 2rem;

  list-style: none;

  li {
    cursor: pointer;
    border: 1px solid #ccc;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &.active {
      background: chocolate;
      color: #fff;
    }
  }
}
