<section [ngClass]="{ hidden: noTodosClass() }" class="main" data-testid="main">
  <input
    (change)="toggleAllTodos($event)"
    [checked]="isAllTodosSelected()"
    class="toggle-all"
    data-cy="toggleAll"
    data-testid="toggleAll"
    id="toggle-all"
    type="checkbox"
  />
  <label for="toggle-all">Mark all as completed</label>
  <ul class="todo-list">
    <app-todos-todo
      (setEditingId)="setEditingId($event)"
      *ngFor="let todo of visibleTodos()"
      [isEditing]="editingId === todo.id"
      [todo]="todo"
      data-cy="todo"
      data-testid="todo"
    ></app-todos-todo>
  </ul>
</section>
